body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 30px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.flex {
  flex: 1;
  position: relative;
  transition: 500ms ease-in-out;
}

.flex1 {
  background-color: burlywood;
}

.flex2 {
  background-color: cadetblue;
}

.flex3 {
  background-color: dodgerblue;
}

.flex .text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  margin: ;
}

.flex:hover {
  flex: 3;
}

@media (min-width: 1000px) {
  .flex .text {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

@media (min-width: 1000px) {
  .flex:hover .text {
    transform: translate(-50%, -50%) rotate(0) scale(1.3);
  }
}
